.modal-content {
  background-color: transparent;

  h6,
  p,
  .h4 {
    color: #fff;
  }
}

.modal-header {
  border-bottom: none;
  padding-top: 0px;
  padding-bottom: 0px;

  .close {
    color: #fff;
    font-weight: 200;
  }
}
