.solutions-photo-one {
  clip-path: polygon(7% 10%, 100% 0, 94% 93%, 0 100%);
}

.solutions-photo-two {
  clip-path: polygon(0 0, 94.33% 1%, 100% 87.22%, 2% 100%);
}

.solutions-photo-three {
  clip-path: polygon(1% 0px, 93% 0px, 100% 92.57%, 4% 100%);
}
