$spacer: 1rem;

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$navbar-dark-color: rgba($primary, 0.75);
$navbar-padding-y: 2rem;
$navbar-light-toggler-icon-bg: str-replace(
  url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"),
  '#',
  '%23'
);

$navbar-light-toggler-border-color: transparent;

// Body

$body-color: $gray-600;

// Grid containers

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1140px
);

// Typography

$font-size-base: 1.1rem;
$font-size-lg: $font-size-base * 1.15;
$headings-font-weight: 600;
$headings-color: $black;
$line-height-base: 1.6;

// $h1-font-size:                $font-size-base * 2.5 !default;
// $h2-font-size:                $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.6;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 0.9;

// Buttons + Forms
$input-placeholder-color: #aaa;
$input-color: #eee;
$input-btn-font-size-lg: $font-size-lg;
$input-border-radius: 0px;

// Buttons

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 1.75rem;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-border-radius-lg: 0px;
$btn-transition: all 0.3s ease-in;


// Modals

$modal-backdrop-opacity: .975;
